<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="harsh.patel.n01351133">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarshAssign2">
        <activity android:name=".PatelActivity4"></activity>
        <activity android:name=".PatelActivity3" android:parentActivityName=".PatelActivity2" />
        <activity android:name=".PatelActivity2" android:parentActivityName=".HarshActivity" />
        <activity android:name=".HarshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>